/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.less';

.ContentPage {
  height: 100%;

h1 {
  font-size: 18px;
  padding-left: 12px;
}
  
  &-container {
    margin: 0 auto;
    height: 100%;
    max-width: 90%;
  }

  &-explanation {
    font-weigth: bold;
    padding-bottom: 6px;
    border-bottom: 1px solid #E8E8E8
  }

  &-registry {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;
  }

  &-radioButtonyes {
    float: left;
  }

  &-prompt {
    padding-right: 3px;
  }

  &-submitForm {
    margin-top: 10px;
    margin-left: 10px;
    display: block;
  }


  &-question {
  padding-top: 5px;
  padding-bottom: 3px;
  }

  &-middleColumn{
    padding-top: 10px;
  }

  &-announce {
    padding-left: 12px;
    padding-bottom: 24px;
  }

  &-map {
    height: 300px;
    width: 95%;
    position: relative;
    left: 15px;
    padding-bottom: 15px;
  }

  &-rsvp {
  border-bottom: 5px solid #E8E8E8; 
  }

  &-weddingLogo {
    position: relative;
    display: inline-block;
    height: 140px;
    padding-bottom: 10px;
  }

  &-rightColumn {
    position: relative;
    height: 100%;
    width: 34%;
    float:right;
    background-color: #a2d5e8;
    left: 9px;
    margin-bottom: 12px;
    border-radius: 5px;
  }
    &-righterColumn {
    position: relative;
    float: right;
    height: 100%;
    width: 36%;
    background-color: #a2d5e8;
    left: 7px;
    margin-bottom: 12px;
    border-radius: 5px;
  }

  &-leftColumn {
    position: relative;
    float: left;
    height: 100%;
    width: 30%;
    background-color: white;
    margin-right: -1px;
    margin-bottom: 12px;
    border-radius: 5px;
  }

  @media screen and (max-width:500px) {
    &-rightColumn, &-leftColumn, &-righterColumn {
      position: static;
      max-width: 100%;
      width: 100%;
    }
    &-weddingLogo {
    width: 100%;
    }
  }


  h1 {
    font-family: @wedding-font;
  }

  .explanation {
    div {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
